body {
    background-color: black;
    margin: auto;
    width: 100%;
    height: auto;
    padding: 40px;
}



.container h1 {
    background-color: bisque;
    text-transform: uppercase;
    border: solid 3px rgb(80, 5, 5);
    border-radius: 5px;
}

/* .labels {
    padding: 15px;
    font-weight: bold;
} */

/* .inputs {
    margin: 10px;
    border: 2px black solid;
    border-radius: 2px;
    font-size: 15px;
} */



#result {
    
    padding: 8px 0px 8px 0px;
    font-size: 20px;
    background-color: aqua; 
    width: 100%;   
}